
@import "tailwindcss";
/* Nasconde la scrollbar per Chrome, Safari e Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Nasconde la scrollbar per IE, Edge e Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}